.content {
  padding: 20px;
}

.content p,
.content ul {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.content ul {
  height: fit-content;
  min-height: 230px;
  margin-top: 0;
  margin-bottom: 50px;
}

.content li {
  display: flex;
  align-items: center;
}

.text {
  width: 100%;
  height: fit-content;
  background: linear-gradient(to right, black, transparent);
  border-radius: 12px;
}

.text::before {
  content: ">";
  margin-right: 7px;
}

.cursor {
  width: 10px;
  height: 18px;
  margin-bottom: 4px;
  background-color: #fffc;
  animation: blink 1000ms linear infinite;
  display: none;
}

.remove {
  display: none;
}

@keyframes blink {
  0%,
  40% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.statement {
  text-align: center;
  background: linear-gradient(to right, transparent, black, transparent);
}

.content .statementGuarantee {
  text-align: center;
  padding: 50px 0 20px;
  border-bottom: 1px solid;
  background: radial-gradient(
    ellipse at 50% 110%,
    rgb(255, 255, 255, 0.3),
    rgb(255, 255, 255, 0.1),
    transparent 70%
  );
}
