.test {
  width: 80px;
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 777;
  border: 0.5px solid;
  color: #fff;
  background-color: #000;
}

.chatBotWrap {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 666;
  margin: auto;
  pointer-events: none;
}

.chatBotBtnUnderlay {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 665;
  background-image: var(--glassy-bg-lrg);
  background-size: 300% 300%;
  background-repeat: no-repeat;
  /* background-position: 50% center; */
  transition: width 300ms ease, height 300ms ease, top 300ms ease,
    border-radius 300ms ease;
  /* , background-position 500ms ease */
  /* !!!! OTHER STYLES ARE ANIMATED IN THE COMPONENT */
}

.btnOpenChat {
  width: var(--btn-chat-size);
  width: 300px;
  height: 64px;
  position: absolute;
  top: calc(50vh - 32px);
  right: 2px;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 667;
  text-align: center;
  color: #0ff;
  font: 18px Blackpast;
  text-shadow: 0 0 4px #000;
  pointer-events: all;
  border: 0.5px solid #0ffa;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  /* !!!! OTHER STYLES ARE ANIMATED IN THE COMPONENT */
}

.chatBot {
  width: 100%;
  /* max-width: 1400px; */
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 666;
  margin: auto;
  padding: 64px 16px;
  pointer-events: all;
}

.headerChatBot {
  padding: 12px;
  font: 33px Blackpast;
  text-align: center;
}

.subHeaderChatBot {
  text-align: center;
}

.searchResult {
  margin-top: 10px;
  overflow: scroll;
  height: 800px;
}

.inputWrap {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 100vh;
}

.input {
  width: 100%;
  flex: 100%;
  height: 64px;
  min-height: 64px;
  padding: 14px 20px;
  display: flex;
  border: solid 0.5px #cacaca;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 2px 10px #003a;
  color: #000;
  background-color: #eee;
}

.btnInput {
  width: 111px;
  flex: 0 0 111px;
  height: 64px;
  min-height: 64px;
  max-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: nowrap;
  box-sizing: border-box;
  padding: 4px 8px;
  border: 0.5px solid #044;
  border-radius: 5px;
  background: var(--glassy-bg);
  background-size: calc(100% + 20px);
  color: #fff;
  font-weight: 600;
}

.inputIcon {
  width: 50px;
  height: 50px;
  background: url(/icons/paper-plane-regular.svg) center / 30% no-repeat;
}

@media (max-width: 700px) {
  .inputWrap {
    flex-direction: column;
    gap: 16px;
  }
  .btnInput {
    width: 100%;
  }
}

.answer {
  width: 100%;
  min-height: 64px;
  padding: 24px 14px;
  border: solid;
  border: solid 0.5px #cacaca;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 10px #003a;
}

.revisionNotice {
  font: 28px sans-serif;
  padding: 32px 0;
}
