.chatBotWrap {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 77;
  margin: auto;
  pointer-events: none;
}

.chatBotBtnUnderlay {
  position: absolute;
  top: calc(50vh - 32px);
  right: 2px;
  z-index: 7776;
  transition: width 300ms ease, height 300ms ease, top 300ms ease;
  background-image: var(--glassy-bg);
  border-radius: 10px;
}

.btnOpenChat {
  width: var(--btn-chat-size);
  height: 64px;
  position: absolute;
  top: calc(50vh - 32px);
  right: 2px;
  z-index: 77777;
  text-align: center;
  color: #0ff;
  font: 18px Blackpast;
  text-shadow: 0 0 4px #000;
  pointer-events: all;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 4px 1px #0003, inset 0 0 4px 1px #fff3;
}

.chatBot {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 7776;
  margin: auto;
  padding: 64px 16px;
  pointer-events: all;
}

.headerChatBot {
  padding: 12px;
  font: 33px Blackpast;
  text-align: center;
}

.searchResult {
  margin-top: 10px;
  overflow: scroll;
  height: 800px;
}

.btnSurprise,
.btnInput {
  width: auto;
  height: auto;
  padding: 4px 12px;
  margin: 0 0 2px 5px;
  border: 0.5px solid #044;
  border-radius: 5px;
  background: var(--glassy-bg);
  background-size: calc(100% + 20px);
  color: #fff;
  font-weight: 600;
}

.inputWrap {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.input {
  width: 100%;
  flex: 100%;
  height: 100%;
  display: flex;
  border: solid 0.5px #cacaca;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  padding: 14px 20px;
  box-shadow: 0 2px 10px #003a;
  color: #000;
}

.btnInput {
  width: 111px;
  flex: 0 0 111px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: nowrap;
  box-sizing: border-box;
}

.answer {
  width: 100%;
  min-height: 64px;
  padding: 24px 14px;
  border: solid;
  border: solid 0.5px #cacaca;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 10px #003a;
}

.revisionNotice {
  font: 28px sans-serif;
  padding: 32px 0;
}
