.modal-info {
  width: calc(100% - 50px);
  max-width: 700px;
  height: calc(100% - 60px);
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 443;
  margin: 0 30px 0 10px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.6);
  overscroll-behavior: contain;
}

@media (max-width: 700px) {
  .modal-info {
    background: rgba(0, 0, 0, 0.99);
    backdrop-filter: none;
  }
}

.info-container {
  height: 100%;
  width: 100%;
  padding: 20px 30px 200px;
  overflow: auto;
}

.info-header {
  color: #c8ffff;
  font: 30px Ailerons;
  text-shadow: 0 0 5px cyan;
}

.btn-texture-detail {
  transition: transform 300ms ease;
}

.btn-texture-detail:hover {
  color: #77ffff;
  transform: translateY(-5px);
  transition: transform 300ms ease;
}

/* CONTENT & LINKS */

.info-wrapper {
  width: 100%;
  text-align: center;
}

.info-text {
  color: #c8ffff;
  font-size: 20px;
}

.info-text.author {
  text-decoration: underline;
}

.info-link {
  min-width: 100%;
  min-height: 100px;
  position: relative;
}

.info-link::after {
  content: "Click image to visit source site";
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 100;
  color: white;
  font-size: 15px;
  filter: drop-shadow(0 1px 2px black);
}

.info-img {
  width: 100%;
}
