:root {
  --bg-main: #000;
  --text-color-main: #fff;
  --text-color-footer: #aaa;
  --glassy-bg: linear-gradient(
    145deg,
    transparent,
    #ddd1,
    #ddd4,
    #ddd1,
    transparent,
    #ddd1,
    #ddd4,
    #ddd1,
    transparent,
    #ddd1,
    #ddd4,
    #ddd1,
    transparent
  );
  --glassy-bg-lrg: linear-gradient(
    155deg,
    transparent,
    #ddd1,
    #ddd4,
    #ddd1,
    transparent,
    #ddd1,
    #ddd4,
    #ddd1,
    transparent,
    #ddd1,
    #ddd4,
    #ddd1,
    transparent,
    #ddd1,
    #ddd4,
    #ddd1,
    transparent,
    #ddd1,
    #ddd4,
    #ddd1,
    transparent,
    #ddd1,
    #ddd4,
    #ddd1,
    transparent,
    #ddd1,
    #ddd4,
    #ddd1,
    transparent,
    #ddd1,
    #ddd4,
    #ddd1,
    transparent
  );
  --btn-chat-size: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #000;
    --text-color-main: #fff;
    --text-color-footer: #aaa;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400&display=swap");

@font-face {
  font-family: Blackpast;
  src: url(/fonts/Blackpast.otf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: #0000;
  font: 300 17px/30px Verdana, sans-serif;
  color: white;
}

body {
  color: var(--text-color-main);
  background: var(--bg-main);
  padding-bottom: 150px;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  position: relative;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
}

footer p {
  color: var(--text-color-footer);
  font-size: 15px;
}

button {
  all: unset;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

a:focus-visible,
button:focus-visible {
  border: solid #0ff;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* HEADER */
.main-site-header {
  width: 100%;
  max-width: 1400px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 888;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 2px rgb(0, 0, 0, 0.4);
  background: linear-gradient(
    to right,
    rgb(0, 0, 0, 0),
    rgb(111, 111, 111),
    rgb(0, 0, 0, 0)
  );
  backdrop-filter: blur(3px);
  transition: transform 300ms ease;
}

@media (max-width: 1000px) {
  .main-site-header {
    transform: translateY(-100%);
  }
}

.main-site-header.show {
  transform: none;
}

.site-logo {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: inset 1px 2px 4px 1px #fffc, inset -1px -2px 4px 1px #000c,
    1px 2px 4px 1px #0008;
  background: url(/50.png) center / 100%;
}

.site-logo:hover {
  border: 1px solid white;
}

.site-title {
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font: clamp(1.4rem, 3.5vw, 2rem) Blackpast;
  filter: drop-shadow(1px 1px 2px #000);
}

/* BUTTON= OPEN/CLOSE NAVIGATION MENU */
.btn-nav-wrap {
  width: 100%;
  max-width: 1400px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 888;
  margin: auto;
}

.btn-nav-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  background: none;
}

/* OPEN/CLOSE NAVIGATION MENU BARS*/
.btn-nav-menu .bar {
  width: 55%;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  filter: drop-shadow(0 0 5px rgba(0, 255, 255, 0.7));
  transition: transform 200ms linear;
}

.bar.open {
  top: 40%;
  background: white;
  box-shadow: 0 0 1px 1px black;
}

.bar.open:nth-child(2) {
  top: auto;
  bottom: 40%;
}

.bar.open.scale-x {
  transform: scaleX(0);
}

.bar.close {
  top: 50%;
  background: red;
  transform: rotate(45deg);
}

.bar.close:nth-child(4) {
  transform: rotate(-45deg);
}

.bar.close.scale-x {
  transform: rotate(45deg) scaleX(0);
}

.bar.close.scale-x:nth-child(4) {
  transform: rotate(-45deg) scaleX(0);
}

/* NAVIGATION MENU */
.nav {
  width: 100%;
  height: calc(100% - 50px);
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 777;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 25px;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.nav ul {
  width: 100%;
  min-height: 101%;
  padding: 60px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.nav li {
  position: relative;
  display: flex;
}

.link {
  width: 200px;
  min-width: 200px;
  max-width: fit-content;
  height: 45px;
  min-height: 45px;
  max-height: 45px;
  display: grid;
  place-content: center;
  color: #fff;
  border: solid #777;
  border-radius: 2px;
  box-shadow: 1px 3px 10px 1px #0009;
  background: linear-gradient(130deg, #eee, #555, #aaa, #333);
}

.link:hover {
  color: #0ff;
  border: solid #0ff;
}

.link.one {
  transform: translateY(-40vh);
  transition: transform 900ms ease;
}
.link.two {
  transform: translateY(-60vh);
  transition: transform 700ms ease;
}
.link.three {
  transform: translateY(-80vh);
  transition: transform 500ms ease;
}
.link.four {
  transform: translateY(-100vh);
  transition: transform 300ms ease;
}

.link.open {
  transform: none;
}

/* BACKGROUND PANELS FOR NAVIGATION MENU */
.bg-nav {
  width: calc(50% + 10px);
  height: 100%;
  position: fixed;
  top: 0;
  backdrop-filter: blur(5px);
  transition: transform 500ms ease;
  /* opacity: 0.9; */
}

:root {
  --bg-speed: 500ms;
}

.bg-nav.left {
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
      to right,
      transparent calc(100% - 15px),
      rgba(55, 55, 55, 0.9)
    ),
    linear-gradient(130deg, #aaab, #444b, #999b, #333b, #888b);
  clip-path: polygon(
    calc(100% - 20px) 0,
    calc(100% - 20px) calc(20% - 10px),
    100% calc(20% + 10px),
    100% calc(40% - 10px),
    calc(100% - 20px) calc(40% + 10px),
    calc(100% - 20px) calc(60% - 10px),
    100% calc(60% + 10px),
    100% calc(80% - 10px),
    calc(100% - 20px) calc(80% + 10px),
    calc(100% - 20px) 100%,
    0 100%,
    0 0
  );
}

.bg-nav.right {
  right: 0;
  transform: translateX(100%);
  background: linear-gradient(to right, rgba(55, 55, 55, 0.9), transparent 15px),
    linear-gradient(130deg, #aaab, #444b, #999b, #333b, #888b);
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 100%,
    0 calc(80% + 10px),
    20px calc(80% - 10px),
    20px calc(60% + 10px),
    0 calc(60% - 10px),
    0 calc(40% + 10px),
    20px calc(40% - 10px),
    20px calc(20% + 10px),
    0 calc(20% - 10px),
    0 0
  );
}

.bg-nav.left.open,
.bg-nav.right.open {
  transform: translateX(0);
}

@media (max-height: 450px) {
  .nav ul {
    justify-content: flex-start;
  }
  .link.one {
    transform: translateY(-80vh);
    transition: transform 900ms ease;
  }
  .link.two {
    transform: translateY(-120vh);
    transition: transform 700ms ease;
  }
  .link.three {
    transform: translateY(-160vh);
    transition: transform 500ms ease;
  }
  .link.four {
    transform: translateY(-200vh);
    transition: transform 300ms ease;
  }
  .link.open {
    transform: none;
  }
}

/* GENERAL ///////////////////////////////////////////////// */
.row {
  max-width: 500px;
  height: fit-content;
  margin: 33px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link__social {
  width: 55px;
  height: 55px;
  margin: 22px;
  line-height: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  border-radius: 3px;
  filter: drop-shadow(0 0 3px #0ff);
}

.link__social.github {
  background-image: url(/icons/github.svg);
}

.link__social.codepen {
  background-image: url(/icons/codepen.svg);
}

.link__social.linkedin {
  background-image: url(/icons/linkedin.svg);
  background-size: 65%;
}

.link__social.email {
  background-image: url(/icons/envelope.svg);
  background-size: 60%;
}

/* BUTTONS & LINKS ////////////////////////////////////// */
/* LINK TO NEXT PAGE */
/* .btn-action-enter {
  opacity: 0;
  transform: translateY(80px);
}
.btn-action-enter-active {
  opacity: 1;
  transform: none;
  transition: opacity 1500ms ease, transform 500ms ease;
}
.btn-action-exit {
  opacity: 1;
  transform: none;
}
.btn-action-exit-active {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 300ms ease, transform 500ms ease;
} */

.link__footer-nav {
  max-width: 200px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50px;
  position: relative;
  /* left: 0; */
  /* right: 0; */
  /* bottom: 220px; */
  z-index: 555;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 2px 10px 1px rgb(0, 0, 0, 0.7);
}

.link__footer-nav::before {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50px;
  position: absolute;
  z-index: -1;
  background: conic-gradient(#000, #0ffa 25% 75%, #000);
  animation: rotate 4s linear infinite;
}

.link__footer-nav:nth-child(even)::before {
  animation-delay: 2s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.link__footer-nav .link-text {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 1010px;
  position: absolute;
  z-index: 11;
  background-image: linear-gradient(135deg, #ddd, #777, #ddd, #777, #ddd, #333);
  background-size: 300% 100%;
  background-position: 0% 50%;
  transition: background-position 400ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 2px #000, -1px 0 2px #000, 0 1px 2px #000, 0 -1px 2px #000;
}

.link-text::after {
  content: "▷";
  padding-left: 5px;
}

.link__footer-nav .link-text:hover {
  background-position: 100% 50%;
  transition: background-position 400ms ease;
  color: cyan;
}

/* BUTTON= T0 TOP OF PAGE */
.btn-to-top-wrap {
  width: 100%;
  max-width: 1400px;
  height: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: auto;
  overflow: visible;
}

.btn-to-top {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: inset 1px 1px 2px #fff, 1px 2px 4px #000c;
  background: url(/icons/chevron-up-white.svg) center / 50% no-repeat,
    linear-gradient(135deg, #888, #333, #888);
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: auto;
  transform: translateY(100px);
  transition: transform 400ms ease;
}
.btn-to-top.anim {
  transform: translateY(0px);
  transition: transform 400ms ease;
}

/* BUTTON= OPEN CONTACT MODAL */
.btn-contact-wrap {
  width: 100%;
  max-width: 1400px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 666;
  margin: auto;
}

.btn-open-contact-modal {
  position: absolute;
  left: auto;
  right: 16px;
  bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: 24px Blackpast;
  border: 1px solid #fff;
  border-radius: 54px;
  backdrop-filter: blur(2px);
  overflow: hidden;
  transform: translateX(calc(-50vw + 50% + 16px));
  transition: width 700ms ease, transform 700ms ease, border-radius 400ms ease,
    opacity 700ms ease, background-position 100ms ease;
  background-image: var(--glassy-bg);
  background-size: calc(100% + 20px) 100%;
  background-position: 0% 50%;
}

@media (min-width: 1400px) {
  .btn-open-contact-modal {
    bottom: 64px;
    transform: translateX(calc(-700px + 50% + 16px));
  }
}

.btn-open-contact-modal.small {
  transform: none;
  box-shadow: inset 1px 1px 5px 1px #0ff;
  transition: width 700ms ease, transform 700ms ease,
    border-radius 400ms ease 500ms, opacity 700ms ease;
  overflow: visible;
  background: url(/icons/message-solid.svg) center / 40%, var(--glassy-bg);
  /* background-size: 40%; */
  background-repeat: no-repeat;
}

.btn-contact-text {
  font: inherit;
  color: inherit;
  opacity: 0;
  transform: translateY(100%);
}

.btn-contact-text.visible {
  opacity: 1;
  transform: none;
  transition: opacity 400ms ease 200ms, transform 300ms ease 200ms;
}

.btn-open-contact-modal.projects {
  background: url(/icons/message-regular-black.svg) 50% 70% / 50% no-repeat;
}

@media (max-width: 777px) {
  .btn-to-top {
    bottom: 10px;
  }

  .btn-open-contact-modal {
    transition: width 400ms ease, transform 400ms ease, border-radius 200ms ease,
      opacity 400ms ease;
  }
  .btn-open-contact-modal.small {
    right: 2px;
    border-right: none;
    border-bottom: none;
    transition: width 400ms ease, transform 400ms ease,
      border-radius 200ms ease 100ms, opacity 400ms ease;
  }
}
/* CONTACT MODAL  */
.contact-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 778;
  color: #fff;
  font: 100 20px sans-serif;
  background: #000b;
  backdrop-filter: blur(10px);
  overflow: auto;
  overscroll-behavior: contain;
}
@media (max-width: 777px) {
  .contact-modal {
    background: #000;
    backdrop-filter: none;
  }
}
.contact-modal-enter {
  opacity: 0;
}
.contact-modal-enter-active {
  opacity: 1;
  transition: opacity 400ms ease;
}
.contact-modal-exit {
  opacity: 1;
}
.contact-modal-exit-active {
  opacity: 0;
  transition: opacity 200ms ease;
}

.contact-modal-content-wrap {
  width: 100%;
  padding: 88px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header-form-contact {
  height: 50px;
  width: fit-content;
  max-width: 1000px;
  position: absolute;
  left: 24px;
  right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: 0 0 1px black, -0.5px -0.5px 1px white,
    1px 1px 1px rgba(0, 0, 0, 0.9), 2px 2px 2px rgba(0, 0, 0, 0.7);
  font: 24px Blackpast;
  text-shadow: 0 0 5px #0ff;
}

/* BUTTON= CLOSE CONTACT MODAL */
.btn-close-contact {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  position: sticky;
  top: 50px;
  left: auto;
  right: 24px;
  margin-left: auto;
  border: none;
  background: url(/icons/xmark-solid.svg) center / 45% no-repeat, transparent;
  filter: drop-shadow(0 0 10px #0ff);
}

.btn-close-contact:focus-visible {
  border: solid cyan;
}

@media (min-width: 1400px) {
  .header-form-contact {
    left: calc(50vw - 700px + 24px);
  }
  .btn-close-contact {
    right: calc(50vw - 700px);
  }
}

.modal-link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.modal-link-linkedin,
.modal-link-email {
  width: 50px;
  height: 50px;
  margin: 22px;
  line-height: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  border-radius: 3px;
  filter: drop-shadow(0 0 3px #0ff);
  background: url(/icons/linkedin.svg) center / 60% no-repeat;
}

.modal-link-email {
  background: url(/icons/envelope.svg) center / 60% no-repeat;
}

form.form-contact {
  width: 100%;
  max-width: 1000px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  text-align: center;
}

/* FIGURE OUT WHY MESSAGE BOX (TEXTAREA) WON'T EXPAND ????????????? */
.input-form-contact,
textarea {
  padding: 10px;
  padding-left: 0;
  border: 1px solid cyan;
  border-radius: 3px;
  color: #fff;
  font: 300 20px sans-serif;
  background-color: transparent;
  transition: padding-left 300ms ease;
}

.input-form-contact {
  max-width: 300px;
  border: transparent;
  border-bottom: 1px solid cyan;
  text-align: center;
}

.input-form-contact:focus,
textarea:focus {
  color: white;
  background-color: transparent;
  border: 1px solid cyan;
  outline: transparent;
  transition: border 500ms ease;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.input-form-contact:focus::placeholder,
textarea:focus::placeholder {
  color: gray;
}

.input-form-contact::placeholder:focus,
textarea::placeholder:focus {
  color: gray;
}

.input-form-contact-textarea {
  width: 100%;
  max-width: 500px;
  min-height: 100px;
  max-height: 400px; /* EXPAND VERTICALLY NOT WORKING */
  padding: 10px;
}

.input-form-contact-textarea::placeholder {
  text-align: center;
  transform: translateY(60px);
  transition: transform 500ms ease;
}

.input-form-contact-textarea:focus::placeholder {
  transform: translateY(0);
  transition: transform 500ms ease;
}

input.btn-submit-form {
  width: 200px;
  min-height: 50px;
  margin: 30px auto;
  color: #fff;
  font: 20px "Chivo", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  border: none;
  border-top: 1px solid cyan;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
  background: linear-gradient(130deg, #eee, #555, #aaa, #333);
  cursor: pointer;
}

.btn-submit-form.pressed {
  border: 1px solid cyan;
  box-shadow: none;
}

/* GENERAL */
.page-heading {
  width: fit-content;
  margin: 20px auto;
  padding: 8px 15px;
  position: relative;
  top: 0;
  font-size: clamp(1.5rem, 3vw, 2rem);
  text-align: center;
  border-bottom: 1px solid #fff;
  text-shadow: -1px 0 2px #000, 1px 0 2px #000, 0 1px 2px #000, 0 -2px 3px #000;
  background: radial-gradient(
    ellipse at 50% 110%,
    rgb(255, 255, 255, 0.5),
    rgb(255, 255, 255, 0.3),
    rgb(255, 255, 255, 0.1),
    transparent 70%
  );
}

.metal-card {
  border-radius: 10px;
  box-shadow: 0 2px 10px 1px #000, inset 1px 2px 1px 0.5px #eee,
    inset -1px -2px 2px 1px #000;
  background: linear-gradient(to bottom right, #888c, #333d, #888d, #333d);
}

.text-shadow {
  filter: drop-shadow(1px 1px 2px #111);
  text-shadow: -1px -1px 1px #111, 0 -1px 1px #111, 1px -1px 1px #111,
    1px 0 1px #111, 1px 1px 1px #111, 0 1px 1px #111, -1px 1px 1px #111,
    -1px 0 1px #111;
}

/* Featured Projects Section */
.featured-projects-wrap {
  width: 100%;
  position: relative;
  z-index: 7;
  background: linear-gradient(transparent, #000 96px 100%);
  overflow: visible;
  padding-top: 96px;
}

.featured-projects {
  width: 100%;
  text-align: center;
}

@media (max-width: 1850px) {
  .featured-projects {
    justify-content: flex-start;
  }
}

.featured-projects-heading {
  margin: 0 24px;
  font: 28px Blackpast;
  text-shadow: 0 0 5px #0ff;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 12px;
}

@media (max-width: 1000px) {
  .featured-projects-heading {
    text-align: left;
  }
}

/* CSSTransitions */

/* Ai ChatBot */
.chatbot-enter {
  opacity: 0;
}
.chatbot-enter-active {
  opacity: 1;
  transition: opacity 500ms ease;
}
.chatbot-exit {
  opacity: 1;
}
.chatbot-exit-active {
  opacity: 0;
  transition: opacity 200ms ease;
}

/* Resume Card */
.resume-card-enter {
  opacity: 0;
  transform: scale(0);
}
.resume-card-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 700ms ease-in-out, transform 400ms ease;
}
.resume-card-exit {
  opacity: 1;
}
.resume-card-exit-active {
  opacity: 0;
  transition: 200ms ease;
}

/* Download Prompt */
.download-prompt-enter {
  opacity: 0;
  transform: scale(0);
}
.download-prompt-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: transform 200ms ease, opacity 400ms ease;
}
.download-prompt-exit {
  opacity: 1;
}
.download-prompt-exit-active {
  opacity: 0;
  transition: 200ms ease-in-out;
}
