/* START LANDING STYLE ////////////////////////////////////////////////////////// */
.landing {
  position: relative;
  width: calc(100% - 30px);
  min-height: 90vh;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
}

.landing h1 {
  perspective: 2000px;
}

.landingHeader {
  position: relative;
  width: fit-content;
  margin: 10px auto;
  padding: 8px 0px;
  text-align: center;
  font-size: clamp(2rem, 1.5rem + 2.2222vw, 3.5rem);
  line-height: clamp(2rem, 1.5rem + 2.2222vw, 3.5rem);
  text-shadow: 0 0 1px #000, 0 0 2px #000;
  opacity: 0;
  transform-style: preserve-3d;
  transform: translateZ(190vh);
  transition: opacity 1s linear,
    transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (min-width: 1200px) {
  .landingHeader {
    transition: opacity 2s linear, transform 3s linear;
  }
}

.landingHeader:nth-child(2) {
  transform: translateY(50px) translateZ(190vh);
  transition-delay: 700ms;
}

.landingHeader:nth-child(3) {
  transform: translateY(100px) translateZ(190vh);
  transition-delay: 1200ms;
}

/* @media (max-width: 700px) {
  .landingHeader {
    transform: translateY(-50px) translateZ(200vh);
  }

  .landingHeader:nth-child(2) {
    transform: translateY(50px) translateZ(200vh);
  }
} */

.landingHeader.open {
  opacity: 1;
  transform: none;
}

.flexRow {
  display: flex;
  flex-direction: column;
}

.subHeading {
  position: relative;
  z-index: 11;
  width: fit-content;
  max-width: 500px;
  margin: 10px auto;
  padding: 5px 50px;
  font-size: clamp(1.1rem, 1vw, 2rem);
  text-shadow: 0 0 1px #000, 0 0 2px #000;
  border-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1700ms ease 200ms, transform 1000ms ease,
    border-color 200ms linear 1s, background-position-y 500ms linear 1s;
}

@media (min-width: 1200px) {
  .subHeading {
    transition: opacity 1700ms ease 2200ms, transform 1000ms ease 2s,
      border-color 200ms linear 3s, background-position-y 700ms linear 3s;
  }
}

.subHeading:nth-child(odd) {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transform: translateX(200%);
  background-image: radial-gradient(
    ellipse at 50% 100%,
    rgba(200, 200, 200, 0.5),
    rgba(200, 200, 200, 0.2),
    transparent 60%
  );
  background-position-y: 40px;
}

.subHeading:nth-child(even) {
  border-top-style: solid;
  border-top-width: 1px;
  transform: translateX(-200%);
  background-image: radial-gradient(
    ellipse at 50% 0%,
    rgba(200, 200, 200, 0.5),
    rgba(200, 200, 200, 0.2),
    transparent 60%
  );
  background-position-y: -40px;
}

.subHeading.open {
  opacity: 1;
  transform: none;
  border-color: #eee;
  background-position-y: 0;
}

@media (max-height: 450px) {
  .home-page .flex-row {
    display: flex;
    flex-direction: row;
  }

  .subHeading:nth-child(even) {
    border-top: none;
    border-bottom: 1px solid white;
    background: radial-gradient(
      ellipse at 50% 100%,
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.2),
      transparent 60%
    );
  }

  .subHeading:nth-child(odd) {
    border-bottom: none;
    border-top: 1px solid white;
    background: radial-gradient(
      ellipse at 50% 0%,
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.2),
      transparent 60%
    );
  }
}
/* END LANDING STYLE ////////////////////////////////////////////////////////// */

/* START TYPED LIST STYLE ////////////////////////////////////////////////////////// */
.typedList {
  min-height: 700px;
  padding: 24px;
  position: relative;
}

.typedList p,
.typedList ul {
  max-width: 800px;
  margin: 20px auto;
}

.typedList ul {
  height: fit-content;
  min-height: 230px;
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.typedList li {
  display: flex;
  align-items: center;
  height: 50px;
}

@media (max-width: 600px) {
  li.typedListLongLine {
    min-height: 80px;
    /* border: solid red; */
  }
}

.cursor {
  width: 10px;
  height: 18px;
  margin-bottom: 4px;
  background-color: #fffc;
  animation: blink 1000ms linear infinite;
  display: none;
}

.remove {
  display: none;
}

@keyframes blink {
  0%,
  40% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.statement {
  text-align: center;
  background: linear-gradient(to right, transparent, black, transparent);
}

.content .statementGuarantee {
  text-align: center;
  padding: 50px 0 20px;
  border-bottom: 1px solid;
  background: radial-gradient(
    ellipse at 50% 110%,
    rgb(255, 255, 255, 0.3),
    rgb(255, 255, 255, 0.1),
    transparent 70%
  );
}
/* END TYPED LIST STYLE ////////////////////////////////////////////////////////// */

/* START WE PROVIDE TRANSITION Y LIST STYLE ////////////////////////////////////////////////////////// */
.weProvideSection {
  padding: 96px 24px;
  background: linear-gradient(
    transparent,
    #000e 96px calc(100% - 48px),
    transparent
  );
}

.weProvideHeader {
  text-align: center;
  padding: 24px 0;
  margin: 24px auto;
}

.weProvideSection ul {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.weProvideSection li {
  overflow: hidden;
}

.weProvideLI {
  padding: 24px 0;
  opacity: 0;
  transform: translateY(200%);
}

.weProvideTransitionY {
  opacity: 1;
  transform: none;
  transition: opacity 1.2s ease 200ms, transform 1s ease;
}

.pyramidStickyWrap {
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
}
.pyramidCanvas {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100vh;
  display: flex;
}

.header3d {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.header3d div {
  font-size: clamp(2rem, 1.5rem + 2.2222vw, 3.5rem);
  line-height: clamp(2rem, 1.5rem + 2.2222vw, 3.5rem);
  text-align: left;
}
/* START CLOSING STATEMENTS STYLE ////////////////////////////////////////////////////////// */
.closingStatements {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#000 calc(100% - 96px), transparent);
}

.statementsWrap {
  position: relative;
  max-width: 700px;
  margin: auto;
  padding: 100px 24px;
  text-align: center;
}

.guaranteeHeader {
  font: 28px Blackpast;
  text-shadow: 0 0 5px #0ff;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
  
  .card:hover span {
    transform: translateX(4px);
  }
} */
