.page {
  width: calc(100% - 30px);
  min-height: 90vh;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.flexRow {
  display: flex;
  flex-direction: column;
}

.subHeading {
  width: fit-content;
  max-width: 500px;
  margin: 10px auto;
  padding: 5px 50px;
  position: relative;
  z-index: 11;
  font-size: clamp(1.1rem, 1vw, 2rem);
}

.subHeading:nth-child(odd) {
  border-bottom: 1px solid white;
  text-shadow: 0 1px 1px black, 0 -2px 2px black;
  background-image: none;
  transform: translateX(100vw);
}

.subHeading:nth-child(even) {
  border-top: 1px solid white;
  text-shadow: 0 -1px 1px black, 0 2px 2px black;
  background-image: none;
  transform: translateX(-100vw);
}

.subHeading.open:nth-child(odd) {
  transform: none;
  background-image: radial-gradient(
    ellipse at 50% 100%,
    rgba(200, 200, 200, 0.5),
    rgba(200, 200, 200, 0.2),
    transparent 60%
  );
  transition: transform 1000ms ease;
}

.subHeading.open:nth-child(even) {
  transform: none;
  background-image: radial-gradient(
    ellipse at 50% 0%,
    rgba(200, 200, 200, 0.5),
    rgba(200, 200, 200, 0.2),
    transparent 60%
  );
  transition: transform 1000ms ease;
}

@media (max-height: 450px) {
  .home-page .flex-row {
    display: flex;
    flex-direction: row;
  }

  .subHeading:nth-child(even) {
    border-top: none;
    border-bottom: 1px solid white;
    background: radial-gradient(
      ellipse at 50% 100%,
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.2),
      transparent 60%
    );
  }

  .subHeading:nth-child(odd) {
    border-bottom: none;
    border-top: 1px solid white;
    background: radial-gradient(
      ellipse at 50% 0%,
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.2),
      transparent 60%
    );
  }
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
} */
